<%-include('../partials/header');-%>
    <link rel="stylesheet" href="/css/product.css" />

    </head>

    <body>
        <%-include('../partials/navigations');-%>
            <h1>orders</h1>
            <%-include('../partials/footer');-%>